@charset "utf-8";
$body-background-expand: #fff;
$body-background-shrink: #FEAFCE;
$love-background-expand: #FE0072;
$love-background-shrink: #FF4D8E;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform ($rotate, $scale) {
  -webkit-transform: $rotate $scale;
  -moz-transform: $rotate $scale;
  -ms-transform: $rotate $scale;
  -o-transform: $rotate $scale;
  transform: $rotate $scale;
}

@mixin animation($name, $duration, $count) {
  -webkit-animation: $name $duration $count;
  -o-animation: $name $duration $count;
  animation: $name $duration $count;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: $body-background-expand;
  @include animation(bodyBackground,2s,infinite);
}

.love {
  width: 25%;
  height: 0;
  padding-top: 25%;  /*使高度随宽度等比变化*/
  background: $love-background-expand;
  @include transform(rotate(-45deg), scale(1));

  /*使图像位于屏幕中间*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  @include animation(heartBeat,2s,infinite);
}

.love:before, .love:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  @include border-radius(50%);
  background: $love-background-expand;
  @include animation(heartBeatBackground,2s,infinite);
}

.love:before {
  top: -50%;
}
.love:after {
  top: 0;
  left: 50%;
}

@mixin heartBeatBackground {
  0% {
    background: $love-background-expand;
  }
  50% {
    background: $love-background-shrink;
  }
}
@keyframes heartBeatBackground {
  @include heartBeatBackground;
}
@-webkit-keyframes heartBeatBackground {
  @include heartBeatBackground;
}
@-moz-keyframes heartBeatBackground {
  @include heartBeatBackground;
}
@-o-keyframes heartBeatBackground {
  @include heartBeatBackground;
}

@mixin heartBeat {
  0% {
    @include transform(rotate(-45deg),scale(1));
    background: $love-background-expand;
  }
  50% {
    @include transform(rotate(-45deg),scale(0.6));
    background: $love-background-shrink;
  }
}
@keyframes heartBeat {
  @include heartBeat;
}
@-webkit-keyframes heartBeat {
  @include heartBeat;
}
@-moz-keyframes heartBeat {
  @include heartBeat;
}
@-o-keyframes heartBeat {
  @include heartBeat;
}

@mixin bodyBackground {
  0% {
    background-color: $body-background-expand;
  }
  50% {
    background-color: $body-background-shrink;
  }
}
@keyframes bodyBackground {
  @include bodyBackground;
}
@-webkit-keyframes bodyBackground {
  @include bodyBackground;
}
@-moz-keyframes bodyBackground {
  @include bodyBackground;
}
@-o-keyframes bodyBackground {
  @include bodyBackground;
}